{% load staticfiles %}
<!doctype html>
<html leang="en">
  <head>
    <title>Weight Graph</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/weight_graph.css' %}">
  </head>
  <body>
    <div>
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
      <script src="http://yui.yahooapis.com/3.10.0/build/yui/yui-min.js"></script>
      <h1>Weight Graph</h1>
    </div>
    <form>
      {% for field in dropdown %}
        {{ field }}
      {% endfor %}
    </form>
    <div id="chart">
      {{ chart.as_html }}
    </div>

    <div>
      <form method="POST" class="new-weight-form">{% csrf_token %}
        {{ form.as_p }} 
        <button type="sumbit" class="save btn btn-default">Add</button>
      </form>
    </div>

  </body>
</html>
